nav{
    background-color: #1e1b18;
    color: #fffaff;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
}

nav img{
    background-color: #1e1b18;
    max-width: 250px;
    max-height: auto;
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}

.links{
    float: right;
    color: #fffaff;
    padding-right: 15px;
    text-decoration: none;
}

.links .button{
    padding: 20px 5px 0 5px;
    text-decoration: none;
}


.content .box a{
    color: #ff000000;
    text-decoration: none;
}

a{
    color: #ff0000;
}

a:visited {
    color: #ff0000;
}

a:hover {
    color: #f45959;
}
  
a:active {
    color: #f60000;
}

.content{
    text-align: center;
}

.gallery {
    margin: 5px;
    float: left;
    width: auto;
}
  
.gallery img {
    width: 225px;
    height: auto;
    text-align: center;
}

.gallery form {
    margin: 5px;
    float: left;
    width: auto;
}
  
.gallery form img {
    width: 200px;
    height: auto;
    text-align: center;
}

#class{
    visibility: hidden;
}

.row {
    padding: 0px;
    width: 100%;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.content .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .box .row{
    display: flex;
    flex-direction: row;
    max-width: 255px;
    padding: 2px;
}

/*.content .box .column{
    display: flex;
    flex-direction: column;
    max-width: 255px;
    padding: 2px;
}

.content .box .column img{
    width: 100%;
    padding-bottom: 5px;
    
}*/

body{
    margin: 5px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #1e1b18;
}

form{
    color: #fffaff;
    background-color: #1e1b18;
    font-size: 16px;

}

h2{
    font-size: 26px;
    color: #fffaff; 
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

footer{
    background-color: #1e1b18;
    color: #3E92CC;
    padding: 25px; 
    text-align: center;  
    font-size: large;
}

