nav{
    background-color: #1e1b18;
    color: #fffaff;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 15px;
}

nav img{
    background-color: #1e1b18;
    max-width: 250px;
    max-height: auto;
}

.links{
    float: right;
    color: #fffaff;
    padding-right: 10px;
}

a{
    color: #f60000;
}

a:visited {
    color: #f60000;
}

a:hover {
    color: #f45959;
}
  
a:active {
    color: #f60000;
}

header{
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 25cm;
    max-width: 1440px;
    max-height: 200px;
    text-align: center;
}

header img{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

.gallery {
    padding: 3px;
    float: left;
    width: auto;
    text-align: center;
}
    
.gallery img {
    width: 225px;
    height: auto;
}

.row {
    padding: 0px;
    width: 100%;
  }

body{
    margin: 0cm;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fffaff;
}

footer{
    background-color: #1e1b18;
    color: #3E92CC;
    padding: 25px;  
    text-align: center;  
}

